.faq-section {
   
    padding: 80px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
    .faq-left {
      flex: 1;
      max-width: 420px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
  
      .faq-section-heading {
        margin: 0;
        font-size: 32px;
        font-weight: bold;
        font-family: "Poppins", sans-serif;
        color: #191b1c;
        margin-bottom: 16px;
      }
  
      .faq-section-title {
        font-size: 18px;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;
        color: #191b1c;
        margin-bottom: 16px;
      }
  
      .faq-btn {
        background-color: #191b1c;
        color: #b3e0dc;
        font-size: 18px;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        border-radius: 25px;
        padding: 14px 24px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
  
        &:hover {
          background-color: #008880;
          color: #f5f5f5;
        }
      }
    }
  
    .faq-right {
      flex: 1;
      max-width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
  
      .faq-item {
        margin-bottom: 16px;
        width: 100%;
        padding: 16px;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: box-shadow 0.3s ease-in-out;
  
        &:hover {
          box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
        }
  
        &-question {
          display: flex;
          justify-content: space-between;
          align-items: center;
  
          h3 {
            font-size: 20px;
            font-weight: 500;
            font-family: "Montserrat", sans-serif;
            color: #191b1c;
            margin: 0;
          }
  
          .icon {
            font-size: 24px;
            color: #b3e0dc;
          }
        }
  
        &-answer {
          font-size: 18px;
          font-weight: 400;
          font-family: "Montserrat", sans-serif;
          color: #191b1c;
          margin-top: 16px;
          display: none;
        }
  
        &.open {
          .faq-item__answer {
            display: block;
          }
        }
      }
    }
  }
  