const express = require('express');
const app = express();

app.get('/style.scss', function(req, res) {
  res.setHeader('content-type', 'text/x-scss');
  res.send(`
    $primary-color: #3bbfce;
    $margin: 16px;

    .content {
      background-color: $primary-color;
      margin: $margin;
      padding: $margin / 2;
    }
  `);
});

app.listen(3000, function() {
  console.log('Server started on port 3000');
});
